<link rel="stylesheet" href="/static/style.css" type="text/css">
<!--&#123;% block body %&#125;-->
<div id="wrapper">

<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Admin Approval Confirmation Page</h1>
</div>
<div class="login-form">
<div class="control-group">
	<label class="login-field-icon fui-user" for="login-name">Successfully Approved Provider</label>
	<input readonly type="text" class="login-field" value="{{providername}}" name="providername">
</div>

</div>
</div>
</div>

</div>