<!--<img src={{ url_for('static', filename='profile.png') }}>-->
<!--need to make the picture into a link??? want to avoid making a form for each patient (x200?? - not good)-->

<link rel="stylesheet" href="/static/style.css" type="text/css">

<!--&#123;% block body %&#125;-->
<div id="wrapper">

<div class="login">
<div class="login-screen">
<div class="profile-box">
{% for item in options %}
<!--make (+) that will auto fill a create mtg form-->
<div class='testWrapAbt'>
	<form action="/approve"
    method="post"
    onSubmit="return confirm('Are you sure you wish to approve?');">

    <img class = "profile-pic" src='/static/profile.png' alt="My Pic" height ="50" width = "50" ></img>
  <p class="assign-username"><input type="submit" value = "{{item}}" >{{item}}</input></p> <br>
</form>
</div>
  {% endfor %}

</div>
</div>
</div>
</div>



