{% extends "patient_log/patient_log_base.html" %}
{% block content %}
<div class="orange">
    <h1>Patient Health Wellness Log</h1>
    {% if messages %}
    {% for message in messages %}
    <h2 style="color:green;">{{message}}</h2>
    {% endfor %}
    {% endif %}
    <p>
        <b>You have successfully submitted your log!</b>
    </p>
    <div class="button deleteConfirmButtonAppointment">
        <a href="{% url 'patientlog' %}" class="btn btn-primary btn-large btn-block">Edit Log</a>
        <a href="{% url 'log-chart' request.user.patient.id%}" class="btn btn-primary btn-large btn-block">View
            Chart</a>
    </div>
</div>
{% endblock content %}