<link rel="stylesheet" href="/static/style.css" type="text/css">
<!--&#123;% block body %&#125;-->
<div id="wrapper">
<div class="login">
<div class="login-screen">
<div class="app-title">

<a href="{{ url_for('user1') }}" class="btn btn-primary btn-large btn-block">Login as first_user</a>
<br>
<a href="{{ url_for('user2') }}" class="btn btn-primary btn-large btn-block">Login as second_user</a>
<br>
<a href="{{ url_for('user3') }}" class="btn btn-primary btn-large btn-block">Login as third_user</a>
<br>
</div>
</div>
</div>
</div>