{% extends "users_acc/base.html" %}
{% block content %}

<div class="orange">
  <div class="messaging">
    <div id="container">
      <nav class="navbar navbar-expand  navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ">
            <a class="nav-link" href="{% url 'Patient1' %}">Patient1</a>
            <a class="nav-link" href="{% url 'Patient2' %}">Patient2</a>
            <a class="nav-link" href="{% url 'Patient3' %}">Patient3</a>
            <a class="nav-link" href="{% url 'Patient4' %}">Patient4</a>
            <a class="nav-link" href="{% url 'Patient5' %}">Patient5</a>
            <a class="nav-link" href="{% url 'Patient6' %}">Patient6</a>
            <a class="nav-link" href="{% url 'Patient7' %}">Patient7</a>
            <a class="nav-link" href="{% url 'Patient8' %}">Patient8</a>
            <a class="nav-link" href="{% url 'Patient9' %}">Patient9</a>
            <a class="nav-link" href="{% url 'Patient10' %}">Patient10</a>
          </div>
        </div>
      </nav>
    </div>
    <h1>No Patient Assigned!</h1>
  </div>
</div>
{% endblock content %}