{% extends "ReqAppt/apt_base.html" %}
{% block content %}
<div class="orange">
    <h1>Schedule an Appointment</h1>
    <form action="{% url 'create_Appointment' %}" method="post">
        {% csrf_token %}
        <div class="appointment">
            <b>{{ form.as_p }}</b>
            <p><b>Date: </b><input name="apptDate" type="text" id="datepicker" required></p>
            <p id='hour'><b>Hour: </b><select name="apptHour" id="timeslots" required></p>
        </div>
        <input type="submit" value="OK" class="makeAppointmentButton btn-large btn-block">
    </form>
</div>
<!-- <table class="table table" id="-table">



    </table> -->

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>



    // $( function() {
    //   $("#datepicker").datepicker({
    //   });
    // } );
    //
    // $(function() {
    //   $( "#datepicker" ).datepicker();
    //       });
    //





    $(function () {
        $("#datepicker").datepicker({


            //Pushes the datepicker on the right side of the data field
            beforeShow: function (input, inst) {

        setTimeout(function () {

            inst.dpDiv.css({
                top: 181,
                left: 1088
            });

        }, 0);
    },
            firstDay: 1, minDate: 0,



        });

    });


    const loadTimeSlots = (data) => {
        const timeslots = $("#timeslots");
        timeslots.empty();
        data.forEach(d => {
            let hour = Math.floor(d);
            const minutes = d - hour;
            const pmOrAm = d >= 12 ? 'PM' : 'AM';
            if(hour > 12) hour -= 12;
            const display = `${hour}:${minutes===0 ? '00' : '30'} ${pmOrAm}`;

            timeslots.append(`<option value="${d}">${display}</option>`)
        });
    }

    const changeHandler = () => {
        const provider_id = $('#id_provider').val();
        const date = $('#datepicker').val();
        if (!!provider_id && !!date) {
            $.get(`availability/provider/${provider_id}/date/${date.replaceAll('/', '-')}`, loadTimeSlots)
        } else {
            //Clear out dropdown if either provider or date is null
            const timeslots = $("#timeslots");
            timeslots.empty();
        }
    };


    $(() => $("#id_provider, #datepicker").on('change', changeHandler));

</script>

{% endblock content %}