{% extends "ReqAppt/apt_base.html" %}
{% block content %}
{% load static %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
    function hide() {
        var confirm = document.querySelectorAll('.confirm');
        confirm[0].classList.add('hidden');
        confirm[1].classList.add('hidden');
    }

</script>
<style>
    .hidden {
        display: none !important;
    }
</style>

<div class="orange">
    <div class="first">
        <div class="heading">
            <h2>Doctor View Appointments</h2>
        </div>
        <table class="table table-bordered approve">

            <thead>
                <tr>
                    <th>Patient First Name</th>
                    <th>Patient Last Name</th>
                    <th>Date and Time</th>
                    <th>Appointment Status</th>
                    <th>Approve</th>
                    <th>Reject</th>
                    <th>Archive</th>
                    <th>Delete</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for a in ApptTable %}
                <tr>
                    <td> {{a.patient.user.first_name}}</td>
                    <td>{{a.patient.user.last_name}}</td>
                    <td>{{a.meetingDate}}</td>
                    {%if a.status%}
                    <td>Confirmed</td>
                    {% else %}
                    <td>Pending</td>
                    {% endif %}

                    <td>
                        {%if a.status%}
                        <span></span>
                        {% else %}
                        <a href="{% url 'approve_appt' a.apptId %}"><span> &#10004; </span></a>
                        {% endif %}
                    </td>
                    <td>
                        {%if a.status%}
                        <span></span>
                        {% else %}
                        <a href="{% url 'reqAppt_delete' a.apptId  %}"><span> &#10060; </span></a>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'archive' a.apptId %}"> Click to Archive </a></td>
                    <!-- <td><a href="{% url 'reqAppt_delete' a.apptId %}"> Delete </a></td> -->
                    <td><a href="{% url 'reqAppt_delete' a.apptId %}"><img alt="Delete"
                                src="{% static 'img/trash.png' %}" width="30" height="35" alt="" loading="lazy" /></a>
                    </td>
                    <!--        <td> {{a.patientFname}} </td>-->

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}