* {
  margin: 0px; padding: 0px;
  border: none;
  box-sizing: border-box;
}

html, body {
  background: #333B3D;
  font: 14px Tahoma, Geneva, sans-serif;
  width: 100%; height: 100%;
}

header {
  margin: 0px auto;
  position: relative;
  width: 80%;
  height: 100px;
}

header h1 {
  margin: 0px; padding: 50px 0px 0px;
  color: #EEE;
  font-size: 30px;
}

.hlabel
{
	width: 80%;
}

.mailbox {
  margin: 0px auto;
  position: relative;
  background: #CCDDED;
  min-height:150px;
  border-radius: 0px 5px 0px 0px;
  width: 80%; 
}

.mailboxDetail {
  margin: 0px auto;
  position: relative;
  background: #CCDDED;
  min-height:150px;
  border-radius: 0px 5px 0px 0px;
  width: 80%; 
  min-width:700px;
}

.nav {
  position: absolute;
  top: 0px; bottom: 0px;
  background: #EEE;
  width: 200px;
}

.nav a {
  display: block;
  padding: 5px 10px;
  color: #3D9FC4;
  font-weight: bold;
  text-decoration: none;
}

.nav a.active {
  background: #CCDDED;
}

.nav a:first-child {
  margin: 10px 0px 10px;
}

.messages {
  padding: 10px 10px 10px 210px;
  width: 100%;
}

.actions-dropdown {
  display: block;
  float: right;
  position: relative;
  margin: 5px 10px 10px 0px;
}

.actions-dropdown label {
  padding: 5px 10px;
  background: #EEE;
  color: #666;
  border-radius: 5px;
  cursor: pointer;
}

.actions-dropdown label span {
  color: #999;
  font-size: 10px;
}

.actions-dropdown:hover ul {
  display: block;
}

.actions-dropdown ul {
  display: none;
  position: absolute;
  list-style: none;
  background: #EEE;
  border-radius: 5px;
  width: 100%;
}

.actions-dropdown li {
  padding: 5px 10px;
  color: #666;
  cursor: pointer;
}

.actions-dropdown li:hover {
  color: #000;
}

.actions-dropdown li:first-child {
  margin-top: 5px;
}

input[name=search] {
  display: block;
  float: right;
  margin-bottom: 10px;
  padding: 5px 10px;
  background: #EEE;
  font: 14px Tahoma, Geneva, sans-serif;
  border-radius: 5px;
}

input[name=search]:focus {
  outline: none;
}

.trashBtn
{
	border-color:#EEE;
	border-style:solid;
	border-width:2px;
	  background: #bbd0e4;
	  max-width:40px;
	  max-height:40px;
	position:right;
	padding: 2px;
	margin:2px;
}

.sendBtn
{
	border-color:#EEE;
	border-style:solid;
	border-width:2px;
	background: #bbd0e4;
	position:right;
	padding: 2px;
	margin-left:225px;
	margin-bottom:10px;
	margin-top:10px;
	font-size:110%;
	font-weight:bold;
}

.error{
color: red;
text-align: left;
font-size: 12px;
}

.msgTextOutline
{
	border-style:solid;
	border-color:b0b0b0;
	border-width:1px;
}

.replyBtn
{
		border-color:#EEE;
	border-style:solid;
	border-width:2px;
	  background: #bbd0e4;
	  max-width:40px;
	  max-height:40px;

	padding: 4px;
	margin-left:215px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.emptyFolder
{
	width:100%;
	background-color:#EEE;
	color:#b0b0b0;
	text-align:center;
	font-size:150%;
  border-radius: 5px;
  padding-top:15px;
  padding-bottom:15px;
}

.message {
  clear: both;
  margin-bottom: 5px;
  position: relative;
  padding: 15px;
  background: #bbd0e4;
  border-radius: 5px;
}

.emailCount
{
  margin-left: 23%;
  color:#b0b0b0;
  font-size: 11pt;
  margin-right:10px;
  margin-bottom:70px;
  border-color:red;
	border-style:solid;
  border-width:2px;
  text-align: right;
  padding: 7px;
  margin-top: -43px;
  
  display: block;
  position: absolute;
}

.autocomplete-suggestions
{
	background-color: #ECF0F1;
}

.autocomplete-suggestion:hover
{
	background-color: #8f8f8f;
}

.nextBtn
{
	border-color:#EEE;
	border-style:solid;
	border-width:2px;
	  background: #bbd0e4;
	  max-width:40px;
	  max-height:40px;
	position:right;
	padding: 2px;
  margin:2px;

}

.prevBtn
{
	border-color:#EEE;
	border-style:solid;
	border-width:2px;
	  background: #bbd0e4;
	  max-width:40px;
	  max-height:40px;
	position:right;
	padding: 2px;
	margin:2px;

}

.message input {
  position: absolute;
  top: 18px; left: 10px;
  width: 30px;
}

.msgDetail{
  margin-bottom: 5px;
  padding: 15px;
  background: white;/*#bbd0e4;*/
  border-radius: 5px;
  margin-left: 215px;
  margin-right:25px;
  min-width:400px;
}

.message .sender {
  display: block;
position: absolute;
  float:right;
  left: 40px;
  color: #000;
  width: 90px;
}

.selectAll{
	margin:10px;
  top: 18px; left: 20px;
  width: 30px;
}

 * textarea
 {
	 resize: none;
 }
 
 * label
 {
	 color:black;
	 
 }
 
.message .title {
  display: inline-block;

  padding-left: 150px;
  width: 100%;
}

a .message *{

	text-decoration:none;
	color:#000;
}

.message .date {
  position: absolute;
/*border-color:green;
	border-style:solid;*/
  right: 10px;
}

.unreadMsg span{
  font-weight: bold;
}

.readMsg span{
	font-weight: normal;
}