<link rel="stylesheet" href="/static/style.css" type="text/css">
<!--&#123;% block body %&#125;-->


<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Access Denied to This User Level</h1>
</div>
	<form action='/' method = "POST">
	<input type="submit" value="Home" class="btn btn-primary btn-large btn-block">
	</form>	
	<form action='/showallmtgs' method = "POST">
	<input type="submit" value="Show Meetings" class="btn btn-primary btn-large btn-block">
	</form>
</div>
</div>
</div>