<link rel="stylesheet" href="/static/style.css" type="text/css">
<!--&#123;% block body %&#125;-->
<div id="wrapper">
	<div id = "navwrapper">
		<nav> 
			&nbsp;<a href="{{ url_for('home') }}">Home</a>
			<a href="{{ url_for('openInbox') }}">Inbox</a>
			<a href="{{ url_for('logout') }}">Logout</a>
		</nav>
		</div>
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Welcome {{name}} [ADMIN]</h1>
<div class="error">{{confirmMsg}}</div>
<a href="{{ url_for('createAdminPg') }}" class="btn btn-primary btn-large btn-block">Create New Admin Acct</a>
<br>
<a href="{{ url_for('adminListUnassigned') }}" class="btn btn-primary btn-large btn-block">Unassigned Patients</a>
<br>
<a href="{{ url_for('adminListUnapproved') }}" class="btn btn-primary btn-large btn-block">Unapproved Providers</a>
<br>
<a href="{{ url_for('adminListApproved') }}" class="btn btn-primary btn-large btn-block">Approved Providers</a>
<br>
<a href="{{ url_for('openInbox') }}" class="btn btn-primary btn-large btn-block">Inbox</a>
<br>

</div>
</div>
</div>
</div>
<!--&#123;% endblock %&#125;-->