<link rel="stylesheet" href="/static/style.css" type="text/css">
<!--&#123;% block body %&#125;-->
<div id="wrapper">
<div id = "navwrapper">
<nav> 
	&nbsp;<a href="{{ url_for('home') }}">Home</a>
	<a href="{{ url_for('show_mtg') }}">Calendar</a>
	<a href="{{ url_for('acct_details') }}">Account Details</a>
	<a href="{{ url_for('logout') }}">Logout</a>
</nav>
</div>
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Meeting Specifics</h1>
</div>
<div class="login-form">
<div class="control-group">
	<label class="login-field-icon fui-user" for="login-name">Meeting Number</label>
	<input readonly type="text" class="login-field" value={{mtgnum}} name="mtgnum">
</div>
<div class="control-group">
	<label class="login-field-icon fui-user" for="login-name">Meeting Name</label>
	<input readonly type="text" class="login-field" value={{mtgname}} name="mtgname">
</div>
<div class="control-group">
	<label class="login-field-icon fui-user" for="login-name">Meeting Time</label>
	<input readonly type="time" class="login-field" value={{mtgtime}} name="time">
</div>
<div class="control-group">
	<label class="login-field-icon fui-user" for="login-name">Meeting Date</label>
	<input readonly type="date" class="login-field" value={{mtgdate}} name="day">
</div>
<!--make a button for edit+delete but only for doctors (link to render funcs?)-->
<!--make 2 different pages for detail??-->
<!--HOW TO SEND MTG ID TO FUNCTION-->
<!--HOW TO DO ABSOLUTE ROUTING? (don't do showmtg/edit/mtg)-->
<!--maybe hardcode the edit render passing data from here? Figure out how to make a string? make a direct a link?-->
<!--make a plain edit render page, send the mtgid in the form behind the scenes?-->

<form action='/editrender/' method = "POST">
<input type="hidden" value={{mtgnum}} name="mtgnum">
<input type="submit" value="Edit" class="btn btn-primary btn-large btn-block">
</form>
<br>
<form action='/deleteRenderNum/' method = "POST">
<input type="hidden" value={{mtgnum}} name="mtgnum">
<input type="submit" value="Delete" class="btn btn-primary btn-large btn-block">
</form>
</div>
</div>
</div>
</div>

</div>