<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
</head>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<!--&#123;% block body %&#125;-->

<div id="wrapper">
<div id = "navwrapper">
</div>
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Create Meeting</h1>
</div>
<div class="login-form">
<div class="error">{{errorMsg}}</div>
<div class="control-group">
	<input type="text" class="login-field" value="" placeholder="name of mtg" name="mtgname" required>
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
	<input class="login-field" type="text" name="names" id="autocomplete1"/>
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password" required>
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<div class="control-group">
				<input type="time" class="login-field" value="" placeholder="time" name="time" required>
<label class="login-field-icon fui-lock" for="login-name"></label></div>
<div class="control-group">
				<input type="date" class="login-field" value="" placeholder="day" name="day" required>
<label class="login-field-icon fui-lock" for="login-name"></label></div>
<!--make a dropdown with time zones-->

</div>
</div>
</div>
</div>

<body>
  <script>
  $('#autocomplete1').autocomplete({
      serviceUrl: '/search/names',
      dataType: 'json',
      onSearchComplete: function (query, suggestions) {
        console.log(query);
      }
  });

  </script>
</body>