<link rel="stylesheet" href="/static/style.css" type="text/css">
<!--&#123;% block body %&#125;-->
<div id="wrapper">
	<div class="navwrapper">
		<nav> 
		  &nbsp;<a href="{{ url_for('home') }}">Home</a>
		  <a href="{{ url_for('show_mtg') }}">Calendar</a>
		  <a href="{{ url_for('acct_details') }}">Account Details</a>
		  <a href="{{ url_for('openInbox') }}">Inbox</a>
		  <a href="{{ url_for('logout') }}">Logout</a>
		</nav>
		</div>
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Care team - {{username}}</h1>
</div>
<div class="login-form">
<div class="control-group">
	<label class="login-field-icon fui-user" for="login-name">Name</label><br>
	<input readonly type="text" class="login-field" value="{{nm}}" name="nm">
</div>
<div style="margin-left: 40px" class="control-group">
	<label class="login-field-icon fui-user" for="login-name">Dietitian</label><br>
	<div><input readonly type="text" class="providerInputField" value="{{providerOne}}" name="providerOne"><a class = "providerLinkImg" href="/providers/{{d1Username}}"><img src="/static/goToDrAcct.png" width="40" height = "40" style="margin-top: -14px;"></a></input></div>
</div>
<div style="margin-left: 40px" class="control-group">
	<label class="login-field-icon fui-user" for="login-name">Physician</label><br>
	<input readonly type="text" class="login-field" value="{{providerTwo}}" name="providerTwo"><a class = "providerLinkImg" href="/providers/{{d2Username}}"><img src="/static/goToDrAcct.png" width="40" height = "40" style="margin-top: -14px;"></a></input>
</div>
<div style="margin-left: 40px" class="control-group">
	<label class="login-field-icon fui-user" for="login-name">Health Coach</label><br>
	<input readonly type="text" class="login-field" value="{{providerThree}}" name="providerThree"><a class = "providerLinkImg" href="/providers/{{d3Username}}"><img src="/static/goToDrAcct.png" width="40" height = "40" style="margin-top: -14px;"></a></input>
</div>
<a href="{{ url_for('home') }}" class="btn btn-primary btn-large btn-block">Home</a>
</div>

</div>
</div>
</div>

</div>