<!DOCTYPE html>

<html>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<head>
    <title>Suggestions</title>
</head>

<body>

<div class="error">{{errorMsg}}</div>
Search: <input type="text" id="search_form_input"></input>

<div id="place_for_suggestions"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
$("#search_form_input").keyup(function(){
    var text = $(this).val();

    $.ajax({
      url: "/suggestions",
      type: "post",
      data: {jsdata: text},
      success: function(response) {
        $("#place_for_suggestions").html(response);
      }//,
      //error: function(xhr) {
        //Do Something to handle error
      //}
    });
});
</script>

</body>

</html>