<link rel="stylesheet" href="/static/style.css" type="text/css">
<!--&#123;% block body %&#125;-->


<form action="/createmtg" method="POST">
<div id="wrapper">
<div id = "navwrapper">
<nav> 
	&nbsp;<a href="{{ url_for('home') }}">Home</a>
	<a href="{{ url_for('show_mtg') }}">Calendar</a>
	<a href="{{ url_for('acct_details') }}">Account Details</a>
	<a href="{{ url_for('logout') }}">Logout</a>
</nav>
</div>
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Create Meeting</h1>
</div>
<div class="login-form">
<div class="error">{{errorMsg}}</div>
<div class="control-group">
	<input type="text" class="login-field" value="" placeholder="name of mtg" name="mtgname" required>
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
<select name="patientUser" required>
{% for item in options %}
  <option type="text" value = {{item}}>{{item}}</option><br>
  {% endfor %}
</select>
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password" required>
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<div class="control-group">
				<input type="time" class="login-field" value="" placeholder="time" name="time" required>
<label class="login-field-icon fui-lock" for="login-name"></label></div>
<div class="control-group">
				<input type="date" class="login-field" value="" placeholder="day" name="day" required>
<label class="login-field-icon fui-lock" for="login-name"></label></div>
<!--make a dropdown with time zones-->
<input type="submit" value="Schedule" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
</div>
</form>