<link rel="stylesheet" href="/static/style.css" type="text/css">
<!--&#123;% block body %&#125;-->


<form action="/deletemtg" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Delete a Meeting</h1>
</div>
<div class="login-form">
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="meeting ID" name="mtgID">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<input type="submit" value="Delete Meeting" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
</form>
<!--&#123;% endblock %&#125;-->