<link rel="stylesheet" href="/static/style.css" type="text/css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<!--&#123;% block body %&#125;-->


<form action="/editacct" method="POST">
<div id="wrapper">
<div id = "navwrapper">
<nav> 
	&nbsp;<a href="{{ url_for('home') }}">Home</a>
	<a href="{{ url_for('show_mtg') }}">Calendar</a>
	<a href="{{ url_for('acct_details') }}">Account Details</a>
	<a href="{{ url_for('openInbox') }}">Inbox</a>
	<a href="{{ url_for('logout') }}">Logout</a>
</nav>
</div>
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Edit Account Details</h1>
</div>
<div class="login-form">
<div class="error">{{errorMsg}}</div>
<div class="control-group">
<label class="login-field-icon fui-user" for="login-name">Username</label>
	<input type="text" class="login-field" value={{username}} readonly name="username">
</div>
<div class="control-group">
<label class="login-field-icon fui-user" for="login-name">Old Password</label>
				<input type="password" id="password1" class="login-field" name="pword1" value={{pword1}} >
				<i style="margin-left: -30px;cursor: pointer;" class="far fa-eye" id="togglePassword1"></i>
</div>
<div class="control-group">
<label class="login-field-icon fui-user" for="login-name">New Password</label>
				<input type="password" id="password2" class="login-field" name="pwordNew1" value={{pwordNew1}} >
				<i style="margin-left: -30px;cursor: pointer;" class="far fa-eye" id="togglePassword2"></i>
</div>
<div class="control-group">
<label class="login-field-icon fui-user" for="login-name">Confirm New Password</label>
				<input type="password" id="password3"  class="login-field"  name="pwordNew2"value={{pwordNew2}}>
				<i style="margin-left: -30px;cursor: pointer;" class="far fa-eye" id="togglePassword3"></i>
</div>
<div class="control-group">
	<label class="login-field-icon fui-user" for="login-name">Email</label>
	<input type="text" class="login-field" value={{email}} name="email">
</div>
<div class="control-group">
<label class="login-field-icon fui-user" for="login-name">First Name</label>
				<input type="text" class="login-field" value={{fname}} name="fname">
				</div>
<div class="control-group">
<label class="login-field-icon fui-user" for="login-name">Last Name</label>
				<input type="text" class="login-field" value={{lname}} name="lname">
</div>
<!--make a dropdown with time zones-->
<input type="submit" value="Update Details" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
</div>
</form>

<script>
	const togglePassword1 = document.querySelector('#togglePassword1');
const password1 = document.querySelector('#password1');
togglePassword1.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
    password1.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});

const togglePassword2 = document.querySelector('#togglePassword2');
const password2 = document.querySelector('#password2');
togglePassword2.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
    password2.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});

const togglePassword3 = document.querySelector('#togglePassword3');
const password3 = document.querySelector('#password3');
togglePassword3.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password3.getAttribute('type') === 'password' ? 'text' : 'password';
    password3.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});
</script>