<link rel="stylesheet" href="/static/messageCss.css" type="text/css">

<header>
  <h1>messages</h1>
</header>

<div class="mailbox">
  <div class="nav">
    <a href="{{ url_for('newEmail') }}">compose</a>
    <a href="{{ url_for('openInbox') }}">inbox {{inboxUnread}}</a>
    <a href="{{ url_for('sentFolder') }}" >sent</a>
    <a href="{{ url_for('trashFolder') }}" class="active">trash {{trashUnread}}</a>
  </div>
  

  <div class="messages">

  <form action="/permTrash" method="POST">
  <input type = "submit" name = "permdel" value="Delete"class = "trashBtn">
  <input type = "submit" name = "undotrash" value="Undo Trash Action" class = "trashBtn">
  <br>
    <input  class = "selectAll"  name = "selectAll" onClick="toggle(this)" type="checkbox" /><br>
<div class="emptyFolder">No messages in trash</div>
    
  </div>
  </form>
</div>
