<link rel="stylesheet" href="/static/style.css" type="text/css">
<!--&#123;% block body %&#125;-->


<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Welcome {{name}}</h1>
<h2>{{docStat}}</h2>


<form action='/createrender' method = "POST">
<input type="submit" value="Create Meeting" class="btn btn-primary btn-large btn-block">
</form>

<form action='/deleterender' method = "POST">
<input type="submit" value="Delete Meeting" class="btn btn-primary btn-large btn-block">
</form>

<form action='/showallmtgs' method = "POST">
<input type="submit" value="Show Meetings" class="btn btn-primary btn-large btn-block">
</form>

<form action='/logout' method = "POST">
<input type="submit" value="Logout" class="btn btn-primary btn-large btn-block">
</form>
</div>
</div>
</div>
<!--&#123;% endblock %&#125;-->