<link rel="stylesheet" href="/static/style.css" type="text/css">
<!--&#123;% block body %&#125;-->


<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Welcome {{name}}</h1>
<h2>{{docStat}}</h2>

<a href="{{ url_for('createPg') }}" class="btn btn-primary btn-large btn-block">Create Meeting</a>
<br>
<a href="{{ url_for('deletePg') }}" class="btn btn-primary btn-large btn-block">Delete Meeting</a>
<br>
<a href="{{ url_for('show_mtg') }}" class="btn btn-primary btn-large btn-block">Calendar</a>
<br>
<a href="{{ url_for('logout') }}" class="btn btn-primary btn-large btn-block">Logout</a>
</div>
</div>
</div>
<!--&#123;% endblock %&#125;-->