<link rel="stylesheet" href="/static/messageCss.css" type="text/css">
<header class = "hlabel">
  <h1>messages</h1>
  <div class="inboxnav">
    <nav> 
      &nbsp;<a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('show_mtg') }}">Calendar</a>
      <a href="{{ url_for('acct_details') }}">Account Details</a>
      <a href="{{ url_for('openInbox') }}">Inbox</a>
      <a href="{{ url_for('logout') }}">Logout</a>
    </nav>
    </div>
</header>


<div class="mailboxDetail">
  <div class="nav">
    <a href="{{ url_for('newEmail') }}">compose</a>
    <a href="{{ url_for('openInbox') }}"  {%if inbox %} class="active" {%endif%}>inbox {{inboxUnread}}</a>
    <a href="{{ url_for('sentFolder') }}" {%if sent %} class="active" {%endif%}>sent</a>
    <a href="{{ url_for('trashFolder') }}" {%if trashbox %} class="active" {%endif%}>trash {{trashUnread}}</a>
  </div>

{%for date, mID, sender_username, reciever_username, subject, email_body in msgList%}
<div class = "msgDetail" id = "{{mID}}">
<label >FROM: </label>
<input  readonly type="text"name = "sender_username" value = "{{sender_username}}" size = "50">
<br><br>
<label >TO: </label>
<input readonly type="text" name = "reciever_username" value="{{reciever_username}}" size = "50">
<br><br>
<label >SUBJECT: </label>
<input  readonly type="text" size = "50" name = "subject" value="{{subject}}" ><input style = "margin-left:120px;text-align:center;color:#b0b0b0;" readonly size = "27" type="text" name = "timestamp" value="{{date}}" >
<br><br>
<label >BODY: </label><br>
<textarea  readonly maxlength="600" cols = "113" rows="8" name = "email_body" value ={{email_body}} >{{email_body}}</textarea>
<br>
</div>
<p style="margin-left:150px;color:white;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
<br>
{%endfor%}
</div>

<script>
var my_element = document.getElementById("{{targetmId}}");

my_element.scrollIntoView({
  behavior: "smooth",
  block: "start",
  inline: "nearest"
});
</script>