<link rel="stylesheet" href="/static/messageCss.css" type="text/css">

<header>
  <h1>messages</h1>
</header>

<div class="mailbox">
  <div class="nav">
    <a href="#">compose</a>
    <a href="#" class="active">inbox</a>
    <a href="#">starred</a>
    <a href="#">sent</a>
    <a href="#">drafts (1)</a>
    <a href="#">trash</a>
  </div>
  <div class="messages">
    <input name="search" placeholder="search" />
    <div class="actions-dropdown">
      <label>actions <span>▼</span></label>
      <ul>
        <li>flag</li>
        <li>move</li>
        <li>delete</li>
      </ul>
    </div>
    
    <div class="message">
      <input type="checkbox" />
      <span class="sender">lauren</span>
      <span class="date">today</span>
      <span class="title">hello world</span>
    </div>
    
    <div class="message">
      <input type="checkbox" />
      <span class="sender">lauren</span>
      <span class="date">today</span>
      <span class="title">hello world</span>
    </div>
    
    <div class="message">
      <input type="checkbox" />
      <span class="sender">lauren</span>
      <span class="date">today</span>
      <span class="title">hello world</span>
    </div>
    
    <div class="message">
      <input type="checkbox" />
      <span class="sender">lauren</span>
      <span class="date">today</span>
      <span class="title">hello world</span>
    </div>
    
    <div class="message">
      <input type="checkbox" />
      <span class="sender">lauren</span>
      <span class="date">today</span>
      <span class="title">hello world</span>
    </div>
    
    <div class="message">
      <input type="checkbox" />
      <span class="sender">lauren</span>
      <span class="date">today</span>
      <span class="title">hello world</span>
    </div>
    
    <div class="message">
      <input type="checkbox" />
      <span class="sender">lauren</span>
      <span class="date">today</span>
      <span class="title">hello world</span>
    </div>
    
  </div>
</div>