<link rel="stylesheet" href="/static/style.css" type="text/css">
<!--&#123;% block body %&#125;-->
<div id="wrapper">
	<div class="navwrapper">
		<nav> 
		  &nbsp;<a href="{{ url_for('home') }}">Home</a>
		  <a href="{{ url_for('show_mtg') }}">Calendar</a>
		  <a href="{{ url_for('acct_details') }}">Account Details</a>
		  <a href="{{ url_for('openInbox') }}">Inbox</a>
		  <a href="{{ url_for('logout') }}">Logout</a>
		</nav>
	</div>
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Your Profile</h1>
</div>
<div class="login-form">
<div class="control-group">
	<label class="login-field-icon fui-user" for="login-name">Username</label>
	<input readonly type="text" class="login-field" value={{username}} name="username">
</div>
<div class="control-group">
	<label class="login-field-icon fui-user" for="login-name">Doctor Status</label>
	<input readonly type="text" class="login-field" value="{{docstatus}}" name="docstatus">
</div>
<div class="control-group">
	<label class="login-field-icon fui-user" for="login-name">Name</label>
	<input readonly type="text" class="login-field" value="{{nm}}" name="nm">
</div>
<div class="control-group">
	<label class="login-field-icon fui-user" for="login-name">Email</label>
	<input readonly type="text" class="login-field" value={{email}} name="email">
</div>
<div class="control-group">
	<label class="login-field-icon fui-user" for="login-name">Member Since</label>
	<input readonly type="text" class="login-field" value="{{createDate}}" name="createDate">
</div>
<form action='/acctEditrender/' method = "POST">
<input type="hidden" value={{username}} name="username">
<input type="submit" value="Edit Account Details" class="btn btn-primary btn-large btn-block">
</form>

<form action='/acctDelete' method = "POST" onSubmit="return confirm('Are you sure you want to delete your account?');">
	<input type="hidden" value={{username}} name="username">
	<input type="submit" onClick="confSubmit(this.form);" value="Delete Account" class="btn btn-primary btn-large btn-block">
</form>

</div>
</div>
</div>
</div>

</div>

