<!--<img src={{ url_for('static', filename='profile.png') }}>-->
<!--need to make the picture into a link??? want to avoid making a form for each patient (x200?? - not good)-->

<link rel="stylesheet" href="/static/style.css" type="text/css">
<!--&#123;% block body %&#125;-->
<div id="wrapper">


<div class="login">
<div class="login-screen">
<div class="profile-box">
{% for item in options %}
<!--make (+) that will auto fill a create mtg form-->
<div class='testWrapAbt'>
  <img class = "profile-pic" src='/static/profile.png' alt="My Pic" height ="50" width = "50" ></img>
    <a href="/createrender/{{item}}" class="btn apptbutton">+ mtg w/ {{item}}</a>
  <p class="profile-username"><a href="/patients/{{item}}">{{item}}</a></p> <br>

</div>
  {% endfor %}
</div>
</div>
<form action="/page" method="POST">
<input hidden name = "fullPagesArr" value={{fullPagesArr}}></input>
<button type="submit" name="prev" disabled>Prev</button>
<button type="submit" name="next" disabled>Next</button>
</form>
</div>
</div>



