<!--<img src={{ url_for('static', filename='profile.png') }}>-->
<!--need to make the picture into a link??? want to avoid making a form for each patient (x200?? - not good)-->

<link rel="stylesheet" href="/static/style.css" type="text/css">
<!--&#123;% block body %&#125;-->
<div id="wrapper">
<div id = "navwrapper">
<nav> 
	&nbsp;<a href="{{ url_for('home') }}">Home</a>
	<a href="{{ url_for('show_mtg') }}">Calendar</a>
	<a href="{{ url_for('acct_details') }}">Account Details</a>
	<a href="{{ url_for('logout') }}">Logout</a>
</nav>
</div>

<div class="login">
<p>Results {{startResultNum}} - {{endResultNum}} / {{totalResultNum}} (Page {{currPgNum}})</p>
<div class="login-screen">
<div class="profile-box">
{% for item in options %}
<!--make (+) that will auto fill a create mtg form-->
<div class='testWrapAbt'>
  <img class = "profile-pic" src='/static/profile.png' alt="My Pic" height ="50" width = "50" ></img>
    <a href="/createrender/{{item}}" class="btn apptbutton">+ mtg w/ {{item}}</a>
  <p class="profile-username"><a href="/patients/{{item}}">{{item}}</a></p> <br>

</div>
  {% endfor %}
</div>
</div>
<form action="/page" method="POST">
<input hidden name = "fullPagesArr" value={{fullPagesArr}}></input>
<button type="submit" name="prev" value={{ppgnum}}>Prev</button>
<button type="submit" name="next" value={{npgnum}}>Next</button>
</form>
</div>
</div>



