<link rel="stylesheet" href="/static/style.css" type="text/css">
<!--&#123;% block body %&#125;-->

<div id="wrapper">
<div id = "navwrapper">
<nav> 
	&nbsp;<a href="{{ url_for('home') }}">Home</a>
	<a href="{{ url_for('show_mtg') }}">Calendar</a>
	<a href="{{ url_for('acct_details') }}">Account Details</a>
	<a href="{{ url_for('openInbox') }}">Inbox</a>
	<a href="{{ url_for('logout') }}">Logout</a>
</nav>
</div>
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Dr Not Assigned to Slot</h1>
<a href="{{ url_for('home') }}" class="btn btn-primary btn-large btn-block">Home</a>
<br>
<a href="{{ url_for('show_mtg') }}" class="btn btn-primary btn-large btn-block">Calendar</a>
<br>
<a href="{{ url_for('logout') }}" class="btn btn-primary btn-large btn-block">Logout</a>
</div>

</div>
</div>
</div>
</div>