<link rel="stylesheet" href="/static/style.css" type="text/css">
<!--&#123;% block body %&#125;-->


<form action="/register" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Register</h1>
</div>
<div class="login-form">
<div class="error">{{errorMsg}}</div>
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="email" name="email">
<label class="login-field-icon fui-lock" for="login-name"></label></div>
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="name" name="name">
<label class="login-field-icon fui-lock" for="login-name"></label></div>

<input type="radio" name="docStatus" value="doctor">
<label for="doctor">Doctor</label><br>
<input type="radio" name="docStatus" value="patient">
<label for="patient">Patient</label><br>

<input type="submit" value="Register" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
</form>