<link rel="stylesheet" href="/static/style.css" type="text/css">
<!--&#123;% block body %&#125;-->


<form action="/register" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Register</h1>
</div>
<div class="login-form">
<div class="error">{{errorMsg}}</div>
<div class="control-group">
				<input type="text" class="login-field"  required placeholder="username" name="username" value={{username}} >
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
				<input type="password" class="login-field" required placeholder="password" name="password" value={{password}}>
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<div class="control-group">
				<input type="text" class="login-field" required placeholder="email" name="email" value={{email}}>
<label class="login-field-icon fui-lock" for="login-name"></label></div>
<div class="control-group">
				<input type="text" class="login-field" required placeholder="first name" name="fname" value={{fname}}>
<label class="login-field-icon fui-lock" for="login-name"></label></div>
<div class="control-group">
				<input type="text" class="login-field" required placeholder="last name" name="lname" value={{lname}}>
<label class="login-field-icon fui-lock" for="login-name"></label></div>

<input type="radio" name="docStatus" value="doctor">
<label for="doctor">Doctor</label><br>
<input type="radio" name="docStatus" value="patient">
<label for="patient">Patient</label><br>

<input type="submit" value="Register" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
</form>