<link rel="stylesheet" href="/static/messageCss.css" type="text/css">

<header>
  <h1>messages</h1>
</header>

<div class="mailbox">
  <div class="nav">
    <a href="{{ url_for('newEmail') }}">compose</a>
    <a href="{{ url_for('index') }}">inbox</a>
    <a href="{{ url_for('sentFolder') }}" class="active">sent</a>
    <a href="{{ url_for('trashFolder') }}">trash</a>
  </div>
  <div class="messages">
    {%for mID, sender, s_date, title  in msgList%}
    <div class="message">
      <input type="checkbox" />
	  <span hidden>{{mID}}</span>
      <span class="sender">{{sender}} </span>
	  <span class="title">{{title}} </span>
      <span class="date">{{s_date}} <span>
      
    </div>
    {%endfor%}
    
  </div>
</div>