{% extends "users_acc/base.html" %}
{% block content %}
{% load static %}
<div class="orange">
    <table class="table table-bordered approve">
        <thead>
            <tr>
                <th>Provider Type</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Approve</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for a in results %}
            <tr>
                <td>{{a.get_Provider_type_display}}</td>
                <td>{{a.user.first_name}}</td>
                <td>{{a.user.last_name}}</td>
                {%if a.is_verified%}
                <td></td>
                {% else %}
                <td><a href="{% url 'admin_approve_provider' a.id %}"><span>&#10003;</span></a></td>
                {% endif %}
                {%if a.is_verified%}
                <td><a href="{% url 'admin_revoke_provider' a.id %}"><img alt="Delete"
                            src="{% static 'img/trash.png' %}" width="30" height="40" alt="" loading="lazy" /></a></td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}