{% extends "users_acc/base.html" %}
{% block content %}
<!-- <p><b>An Email Has Been Sent to Your Inbox With Instructions on How to Reset Your Password</b></p>
<br>
<div class="button">
    <a href="{% url 'login' %}" class="btn btn-primary btn-large btn-block">Login</a>
</div> -->
<div class="resetPassword">reset password</div>
<div class="stepOne">step 2: check your email</div>
<div class="emailSent"><span>We’ve sent over a password reset email.</span>
    Click the link in the email to set a new password.</div>
<div class="theT"></div>
{% endblock content %}
