{% extends "users_acc/base.html" %}
{% block content %}
<!-- <p><b>Your Password Has Been Reset </b></p> -->
<!-- <div class="button">
    <a href="{% url 'login' %}" class="btn btn-primary btn-large btn-block">Login</a>
</div> -->
<div class="successReset">successfully reset.</div>
<div class="passwordSaved"><span>Your new password has been saved.</span>
    Continue to log into your account.
</div>
<div class="button confirmResetButton">
    <a href="{% url 'login' %}" class="btn btn-primary btn-large btn-block">log in</a>
</div>
<div class="theT"></div>
{% endblock content %}
